@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
    background-image: url('../../public/ecommerce.png');
}

.promo-1 {
    background-image: url("../../public/jc-gellidon-xDsq3u3ZUqc-unsplash.jpg");
}

.promo-2 {
    background-image: url("../../public/carlos-vaz-KP4bxnxAilU-unsplash.jpg");
}